.helpCard {
    width: 360px;
    height: 360px;
    background-color: bisque;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 34px;
    color: rgb(248, 118, 18);
    border: 1px solid;
}

.helpCard hr {
    color: white;
}